.login-page {
  display: grid;
    grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "topBar"
    "content"
    "footer";
  min-height: 100vh;
  min-width: 100vw;
  background: var(--white);
}
.login-page-content {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: relative;
  padding: 2rem;
}

.login-card {
  background-color: var(--gray-100);
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--gray-900);
}

.form-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--gray-800);
}

.input-box {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: var(--gray-50);
  color: var(--gray-900);
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--primary-dark);
}

.switch-button {
  background: none;
  border: none;
  color: var(--primary, rgb(231, 158, 0));
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  padding: 0;
  transition: color 0.3s ease;
}

.switch-button:hover {
  color: var(--gray-900);
}

.switch-text {
  text-align: center;
  margin-top: 1rem;
}

.login-page-footer {
  grid-area: footer;
  background: var(--light-gray);
  border-top: 1px solid var(--gray-200);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: small;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}
